main {
    section {
        background-color: white;
        transition: 0.3s;
        &:hover {
            transform: scale(1.1);
            transition: 0.3s;
            filter: drop-shadow(0 0 5px gray);
        }
    }
}